* {
  margin: 0;
  padding: 0;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f3f3f;
  gap: 50px;
  padding: 20px;
}
.sticky {
  position: fixed;
  background-color: #3f3f3fcd;
  width: 100%;
}
.container {
  width: 70rem;
  margin: 0 auto;
}
.nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: 0.5s;
}
.nav a:hover {
  color: rgb(38, 192, 192);
}
.hero {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  background-color: #3f3f3f;
  align-items: center;
}
.center {
  margin: 0 auto;
}
.hero-desc h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.hero-desc p {
  font-size: 1.5rem;
  margin-bottom: 5rem;
}
.hero-img {
  height: 35rem;
  width: 35rem;
}
.hero-img img {
  height: 100%;
  width: 100%;
}
.btn {
  padding: 15px 35px;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  background-color: #26c0c0;
  border-radius: 15px;
  margin-bottom: 40px;
}
.btn:hover {
  background-color: rgba(38, 192, 192, 0.89);
}
.btn:active {
  background-color: rgba(38, 192, 192, 0.74);
}
/* why choose us */
.why-us {
  margin: 0px auto;
  padding: 30px 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}
.why-us h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 68px;
}
.reasons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.reason {
  padding: 20px;
  height: 200px;
  border: 0.5px solid grey;
  transition: 0.7s;
}
.reason:hover {
  background-color: #d7d7d7;
  transform: translateY(-5%);
}
.reason a {
  text-decoration: none;
  color: #0a4d4d;
  font-weight: 700;
  transition: 0.5s;
}

.reason a:hover {
  text-decoration: underline;
  color: #000000;
}
.reason h1 {
  font-size: 32px;
  text-align: start;
  margin-bottom: 20px;
}
.reason p {
  margin-bottom: 30px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
}
/* what can we create */
.what_can_we_build {
  margin-bottom: 50px;
}
.create-title {
  margin: 50px 0px;
  font-size: 48px;
}
.creates {
  display: grid;
  grid-column: 1fr;
  gap: 40px;
}
.create {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.create img {
  height: 100%;
  width: 100%;
}
.create h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
/* projects */
.projects-container {
  background-color: #3f3f3f;
  padding-bottom: 80px;
  border-bottom: 0.5px solid grey;
}
.title {
  font-size: 50px;
  color: white;
  margin-bottom: 15px;
  padding-top: 50px;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px;
  gap: 10px;
}
.project {
  border: 1px solid white;
  color: white;
  padding: 10px;
}
.project img {
  width: 100%;
  border: 1px solid white;
}
.project h1 {
  margin: 10px 0px;
}
.project p {
  margin-bottom: 40px;
}
.project-btn {
  padding: 5px 20px;
  font-size: 18px;
  background-color: #19dada;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  transition: 0.5s;
}
.project-btn:hover {
  transform: translateY(-10%);
}
/* contact */
.contact {
  background-color: #3f3f3f;
  border-bottom: 0.5px solid grey;
  padding-bottom: 70px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin: 0 auto;
  gap: 15px;
  align-items: center;
}
.contact-form h1 {
  text-align: center;
}
.contact-form input {
  padding: 10px 20px;
  width: 200px;
  background-color: transparent;
  outline: none;
  border: 0.5px solid grey;
  border-radius: 25px;
  color: white;
}
.contact-form input::placeholder {
  color: white;
}
.email {
  width: 448px !important;
}
.contact-form textarea {
  font-size: 18px;
  height: 100px;
  width: 460px;
  resize: none;
  outline: none;
  padding: 15px;
  background-color: transparent;
  color: white;
  border-radius: 15px;
}
.contact-form textarea::placeholder {
  color: white;
}
.submit-btn {
  width: 300px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 0.5px solid grey;
  color: white;
  transition: 0.5s;
}
.submit-btn:hover {
  background-color: #373636;
}
/*footer */
footer {
  background-color: #3f3f3f;
}
.footer {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.align {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.align a {
  text-decoration: none;
  color: white;
}
.align a:hover {
  text-decoration: underline;
  color: white;
}
.copyRight {
  text-align: center;
  color: white;
  padding: 30px 0px 10px 0;
}
/* custome scroll bar */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #3f3f3fad;
}
::-webkit-scrollbar-thumb {
  background: #373636;
  border-radius: 15px;
}

@media (max-width: 1120px) {
  .container {
    width: 55rem;
  }
  .hero-img {
    height: 30rem;
    width: 30rem;
  }
}
@media (max-width: 1024px) {
  h1 {
    font-size: 2rem !important;
  }
  .project-title {
    font-size: 1.5rem !important;
  }
  .container {
    width: 40rem;
  }
  .hero-desc h1 {
    font-size: 2.5rem;
  }
  .hero-desc p {
    font-size: 1.2rem;
  }
  .hero-img {
    height: 25rem;
    width: 25rem;
  }
  .btn {
    font-size: 1rem;
  }
  .reasons {
    margin: 10px;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .create {
    gap: 0;
  }
  .hero-desc h1 {
    font-size: 3rem;
  }
  .hero-desc p {
    margin-bottom: 20px;
  }
  .hero {
    padding-top: 50px;
    grid-template-columns: 1fr;
    height: auto;
  }
  .hero {
    height: 50vh;
  }
  .hero-img {
    height: 250px;
    width: 250px;
  }
}
@media (max-width: 645px) {
  .container {
    width: auto;
  }
  .hero {
    height: auto;
  }
  .nav {
    display: none;
  }
  .reasons {
    grid-template-columns: 1fr;
  }
  .create {
    grid-template-columns: 1fr;
    width: 300px;
    margin: 0 auto;
    border: 0.5px solid grey;
    gap: 15px;
    padding: 10px;
  }
  .create-title {
    text-align: center !important;
  }
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .project {
    width: 300px;
    margin: 0 auto;
  }
  .title {
    text-align: center;
  }
  .contact-form {
    width: auto;
  }
  .footer {
    display: grid;
    justify-content: center;
    grid-template-columns: 200px;
    padding: 20px;
    gap: 50px;
  }
  .names {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .contact-form input {
    width: 300px !important;
  }
  .contact-form textarea {
    width: 300px;
  }
  .submit-btn {
    width: 200px;
    font-size: 15px;
  }
  .create {
    height: auto;
  }
  .create img {
    height: 150px;
    width: 200px;
    margin: 0 auto;
  }
}
@media (max-width: 345) {
  .contact {
    width: 200px !important;
  }
  .contact-form input {
    width: 150px !important;
  }
  .contact-form textarea {
    width: 250px;
  }
  .submit-btn {
    width: 150px;
    font-size: 15px;
  }
}
